:root {
  /** Space units based on Fibonacci Sequence */
  --size-1: 2px;
  --size-2: 4px;
  --size-3: 6px;
  --size-4: 10px;
  --size-5: 16px;
  --size-6: 26px;
  --size-7: 42px;
  --size-8: 68px;
}

html {
  /* Prevent scrollbar to shift layout */
  scrollbar-gutter: stable;
}

/** Avoid overflow caused by embedded content */
audio,
iframe,
img,
svg,
video {
  max-block-size: 100%;
  max-inline-size: 100%;
}

/** Turn images into block elements */
img {
  display: block;
}

/** Form elements */

button,
input,
input[type='submit'],
input[type='reset'],
select,
textarea {
  border-width: var(--size-1);
  border-radius: var(--size-2);
  padding: var(--size-2) var(--size-3);
}
